<!DOCTYPE html>
<html>
  <head>
    <title>KittenKourage</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      body{
        /*background-color: <%= color %>;*/

      }
    </style>
  </head>

  <body>

    <h1>Kitten Kourage</h1>
    <h2>For the days, when I need someone to help MEOWout</h2>
    <!-- <p><%= cat %></p>
    <h3><%= quote %></h3> -->
  </body>

</html>
