<!DOCTYPE html>
<html>
  <head>
    <title>KittenKourage</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" scr="script.js">
    </script>
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
    <style>
      body{
        background-color: <%= colors %>;
        color: white;

      }
      div {
        float: center;
      }
    </style>
  </head>

  <body>
    <div>
    <h1>Kitten Kourage</h1>
    <h2>Help Meowout!</h2>

    <img src="http://thecatapi.com/api/images/get?format=src&type=gif"></img>
  </br>
  <p>
    <%= quotes %>
  </p>
  </br>
    <button>MOAR KOURAGE</button>
  </div>

  </body>

</html>
