<!DOCTYPE html>
<html>
  <head>
    <title>KittenKourage</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      body{
        background-color: <%= colors %>;
        color: white;

      }
      div {
        float: center;
      }
    </style>
  </head>

  <body>
    <div>
    <h1>Kitten Kourage</h1>
    <h2>Help Meowout!</h2>

    <img src="http://thecatapi.com/api/images/get?format=src&type=gif"></img>
  </br>
    <button>MoarKourage</button>
  </div>

  </body>

</html>
